@media screen and (max-width: 900px) {

  /*
   * Congratulations popup
   */

  .congratulations table {
    padding-left: 0;
  }

  .congratulations h1 {
    margin: 0;
  }
  .congratulations .restart {
    font-size: 2em;
    display: inline-flex;
    
  }
}

@media screen and (max-width: 600px) {

  /*
   * Main deck
   */

  .deck {
    width: 400px;
    min-height: 420px;
    padding: 20px;
  }

  .deck .card {
    height: 80px;
    width: 80px;
  }

  .deck .card.show {
    font-size: 18px;
  }
  
  /*
   * Congratulations popup
   */

  .congratulations h1 {
    margin: 0;
  }

  .congratulations table {
    padding-left: 0;
  }

  /*
   * Leader board
   */
  
   .leader-board {
    width: 300px;
    height: 500px;
  }

  .moves-leader-board {
    display: none;
  }
  
}

@media screen and (max-width: 450px) {

  .material-icons {
    font-size: 24px;
  }

  /*
   * Main deck
   */

  .deck {
    width: 300px;
    min-height: 310px;
    box-shadow: 6px 7px 10px 0 rgba(46, 61, 73, 0.5);
    padding: 10px;
  }

  .deck .card {
    height: 60px;
    width: 60px;
  }

  .deck .card.show {
    font-size: 18px;
  }

  .score-panel {
    padding: 0 0 0 1em;
  }

  .score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 2em;
  }

  /*
   * Congratulations popup
   */

  #szmebuldog-image {
    display: none;
  }
  
  .win-popup {
    padding: 1em 1em 0;
  }
  
  .congratulations {
    width: 100%;
  }

  .congratulations h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
  }

  .congratulations h2 {
    font-size: 1em;
    margin: 0;
  }

  .congratulations table {
    
    padding-left: 0;
  }

  .congratulations .restart {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .congratulations .leader-board-icon {
    position: absolute;
    right: 30px;
    bottom: 0;
  }

  /*
   * Leader board
   */
  
  .leader-board {
    width: 250px;
    height: 400px;
  }

  .moves-leader-board, .time-leader-board {
     display: none;
   }
}